@model List<Food.Tracking.Entities.MusteriTuruGrubu>

@using Food.Tracking.Test.Portal.Entities
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model)
    {
        <div>@item.GrupAdi</div>
    }
</div>